.git
Dockerfile
.DS_Store
.gitignore
README.md
tests/

# Environments
.env
.venv
env/
venv/
ENV/

# mypy
.mypy_cache/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
venv/
node_modules
